# Twiter API Settings
CONSUMER_KEY = ''
CONSUMER_SECRET = ''
TOKEN_KEY = ''
TOKEN_SECRET = ''
# MongoDB Settings
MONGO_HOST = ''
MONGO_DB = ''
MONGO_COLLECTION = ''
# Beanstalkd Settings
BEANSTALKD_HOST = ''
BEANSTALKD_PORT =
BEANSTALKD_GEO_TUBE = ''
BEANSTALKD_STATS_TUBE = ''
