/*::selection { background: #906B2D; }
::-moz-selection { background: #906B2D; } */

body {
  /*background: #474747 url(static/images/bg.png);*/
  background: #F3F3F3;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  border-width: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  color: #282828;
  height: 60px;
  background: url(/static/images/header_background.png);
}


footer {
  background: #282828;
  color: #FFFFFF;
  min-width: 100%;
  min-height: 200px;
  padding: 20px 0 0 0;
}

h4 {
  border-bottom: 1px solid #000;
  color: #505050;
  /*font-size: 18px;*/
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

h4 span {
  background: #f3f3f3;
  padding: 0 15px;
  position: relative;
  top: 10px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hide from IE Mac \*/
.clearfix {display: block;}
/* End hide from IE Mac */

a:link {text-decoration: none; color:inherit}
a:visited {text-decoration: none; color:inherit}
a:hover {text-decoration: underline; color:inherit}
a:active {text-decoration: underline; color:inherit}

.centered-header {
  max-width: 800px;
  margin: 0 auto;
}

.logo-header {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  float: left;
  padding: 8px 0;
}

.logo-header a:hover {
  text-decoration: none;
}

.links-header {
  float: right;
  margin: 0 0 0 20px;
  list-style: none;
  padding: 23px 0 0 20px;
}

.links-header a {
  display: block;
  padding: 6px 10px 7px 10px;
  text-decoration: none;
}

.links-header a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background: #282828;
  background: rgba(40, 40, 40, 0.75) url(/static/images/tab-underlay.png) repeat-x 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.link-header {
  float: left;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 0 25px;
}

.centered-content {
  max-width: 800px;
  margin: auto;
  padding: 0;
  padding-top: 20px;
}

.filters-heading {
  margin-top: -10px;
}

.charts-border {
  border: 1px solid #B9B9B9;
  background-color: #F9F9F9;
}

#tweetMeta {
  height: 80px;
  background: #282828;
  color: #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

#Sentimos {
  outline: 0;
  background: #282828;
  height: 460px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#feelings {
  margin-top: 20px;
}

#tweetsText {
  margin-top: 20px;
}

/*.chzn-container-multi .chzn-choices {
  background-image: none;
  background: #1A1711;
  height: 50px !important;
  color: #F6E6CC;
}

.chzn-container .chzn-drop {
  background-color: #1A1711;
}*/