/*::selection { background: #906B2D; }
::-moz-selection { background: #906B2D; } */

body {
  background: #F3F3F3;
  color: #000000;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  border-width: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  color: #282828;
  height: 60px;
  background: url(/static/images/header_background.png);
}

footer {
  background: #282828;
  color: #FFFFFF;
  min-width: 100%;
  min-height: 200px;
  padding: 20px 0 0 0;
}

h4 {
  border-bottom: 1px solid #000;
  color: #505050;
  /*font-size: 18px;*/
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

h4 span {
  background: #f3f3f3;
  padding: 0 15px;
  position: relative;
  top: 10px;
}

input, button {
  font-family: Helvetica, Arial, "Lucinda Grande", sans-serif;
}

a:link {text-decoration: none; color:inherit}
a:visited {text-decoration: none; color:inherit}
a:hover {text-decoration: underline; color:inherit}
a:active {text-decoration: underline; color:inherit}

.centered-header {
  max-width: 800px;
  margin: 0 auto;
}

.logo-header {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  float: left;
  padding: 8px 0;
}

.logo-header a:hover,
.tweet-meta-no-underline a:hover {
  text-decoration: none;
}

.links-header {
  float: right;
  margin: 0 0 0 20px;
  list-style: none;
  padding: 23px 0 0 20px;
}

.links-header a {
  display: block;
  padding: 6px 10px 7px 10px;
  text-decoration: none;
}

.links-header a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background: #282828;
  background: rgba(40, 40, 40, 0.75) url(/static/images/tab-underlay.png) repeat-x 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.link-header {
  float: left;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 0 25px;
}

.centered-content {
  max-width: 800px;
  margin: auto;
  padding: 0;
  padding-top: 20px;
}

.filters-heading {
  margin-top: -10px;
}

.charts-border {
  border: 1px solid #B9B9B9;
  background-color: #F9F9F9;
}

.tweet-meta {
  height: 90px;
  width: inherit;
  background: #282828;
  color: #FFFFFF;
  margin-top: -10px;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
}

.tweet-meta-pre {
  text-align: center;
  line-height: 90px;
  margin: 0;
}

.pjsdiv {
  background: #282828;
  height: 460px;
  width: 800px;
  margin-top: 10px;
}

.pjsdiv:focus {
  outline: 0;
}

.buttons {
  float: left;
  margin: -10px 0 0 -2px;
}
/*!
 * Bootstrap v2.0.4
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn-active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*.chzn-container-multi .chzn-choices {
  background-image: none;
  background: #1A1711;
  height: 50px !important;
  color: #F6E6CC;
}

.chzn-container .chzn-drop {
  background-color: #1A1711;
}