/*::selection { background: #906B2D; }
::-moz-selection { background: #906B2D; } */

body {
  /*background: #474747 url(static/images/bg.png);*/
  background: #F3F3F3;
  color: #000000;
  font-family: Helvetica, Arial, Sans-Serif;
  border-width: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  color: #282828;
  height: 60px;
  background: url(/static/images/header_background.png);
}


footer {
  background: #282828;
  color: #fff;
  min-width: 100%;
  min-height: 200px;
  padding: 20px 0 0 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hide from IE Mac \*/
.clearfix {display: block;}
/* End hide from IE Mac */

a:link {text-decoration: none; color:inherit}
a:visited {text-decoration: none; color:inherit}
a:hover {text-decoration: underline; color:inherit}
a:active {text-decoration: underline; color:inherit}

.screen_nameLink a:hover {text-decoration: none;}

.boxShadow {
  -moz-box-shadow: 0 0 15px #8B8B8B;
  -webkit-box-shadow: 0 0 15px #8B8B8B;
  box-shadow: 0 0 15px #8B8B8B;
}

.centered-content {
  max-width: 800px;
  margin: auto;
  padding: 0;
  padding-top: 20px;
}

.centered-header {
  max-width: 800px;
  margin: auto;
}

.logo-header {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  padding-top: 10px;
}


#tweetMeta {
  height: 80px;
  background: #282828;
  color: #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

#Sentimos {
  outline: 0;
  background: #282828;
  height: 460px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#feelings {
  margin-top: 20px;
}

#tweetsText {
  margin-top: 20px;
}

.search-feelings-div {
  color: #000;;
}

/*.chzn-container-multi .chzn-choices {
  background-image: none;
  background: #1A1711;
  height: 50px !important;
  color: #F6E6CC;
}

.chzn-container .chzn-drop {
  background-color: #1A1711;
}