# MongoDB Settings
MONGO_HOST = ''
MONGO_DB = ''
MONGO_GEO_COLLECTION = ''
MONGO_CRAWLER_COLLECTION = ''
# Beanstalkd Settings
BEANSTALKD_HOST = ''
BEANSTALKD_GEO_TUBE = ''
BEANSTALKD_STATS_TUBE = ''
